body{
    color: white;
    border: 40px solid #118AB2;
    border-top: 0px;
    
    /* text-align: center; */
    /* margin: 0em;
    border-top: 0em; */
}

h1{
    text-align: center;
}

.education{
    text-align: center;
}

.skills{
    text-align: center;
}

.lang{
    text-align: center;
}

.jumbotron{
    background-color: #011627
}